
h1{
  color: #4f831b;
  font-weight: bold;
  text-align: center;
}

p{
  margin: 5px 0;
  color: #4f831b;
  font-family: "Century Gothic", sans-serif;
}

body{
  background-color: #f7f2e4;
  font-family: "Century Gothic", sans-serif;
}

body {
  background-image: url(https://static.actu.fr/uploads/2019/10/Parcelles-agricoles-vues-du-ciel-%C2%A9-Tommy-Lee-Walker.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.conteneur {
  width: 300px;
  padding: 20px;
  background-color: #f7f2e4;
  border: 2px solid #333;
  border-radius: 10px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}
